.login-container {
    .login {
        padding-top: 15%;
        
        .login-box {
            border: 1px solid lightblue;
            padding: 15px;

            .img-resp {
                height: 100px;
                width: 100px;
                border-radius: 90px;
            }
            
        }
    }
}